@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-dark: #201E43;
  --color-light: #EEEEEE;
  --color-main: #134B70;
  --color-text: #508C9B;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #000000;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease-in-out;
}

body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}